/* *, *::before, *::after { */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-fondo-claro: #F1F5F9; /*Color de fondo*/
    --color-primary: #839989; /*Fondo principal*/
    --color-secondary: #05271f; /*Fondo secundario*/
    --color-tertiary: #0c362d; /*Fondo terciario*/
    --color-quaternary: #c0d1b2; /*Fondo quaternario*/
    --color-quinary: #425851; /*Fondo quinary*/
    --color-text-title: #0F172A; /*Texto de los títulos*/
    --color-text: #64748B; /*Texto principal*/
    --color-text-logo: #ffffff; /*Texto del logo*/
    --color-nav: #05271f; /*Fondo de la barra de navegación*/
    --color-text-nav: #ffffff; /*Texto de la barra de navegación*/
    --color-cards: #ffffff; /*Color de fondo de las tarjetas*/
    --font-title: "Stack Sans Notch", sans-serif;
    --font-2: "Lexend Tera", sans-serif;
    --font-nav: "helvetica neue", sans-serif;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --radius: 8px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
 /* font-weight: 400; */
    line-height: 1.6;
    color: var(--color-texto);
}
h1, h2, h3 {
 /* font-weight: 700; */
    line-height: 1.2;
}

nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    /* padding: var(--spacing-md) var(--spacing-lg); */
    background-color: var(--color-nav);
    padding:0 20px;
}
.nav-logo {
    color: var(--color-text-logo);
    font-size: 2.5rem;
    font-family: var(--font-title);
    font-weight: bold;
    text-decoration: none; 
    flex-shrink: 0;
}

.nav-logo:hover {
    color: var(--color-quaternary);
}

.nav-links ul {
    display: flex; 
    gap: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.nav-links a {
    color: var(--color-text-nav);
    text-decoration: none;
    font-family: var(--text-nav);
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-color 0.3s;
}
.nav-links a:hover {
    color: var(--color-accent);
    border-bottom-color: var(--color-accent);
}

/*TITULO*/
.titulo{
    text-align: center;
}
.titulo h1{
    font-family: var(--font-title);
    font-size: 3rem;
    font-weight: 700;
    color: rgba(255,255,255,0.95);
    text-shadow:
    0 2px 4px rgba(0,0,0,0.25),
    0 6px 15px rgba(0,0,0,0.15);
}

/*INICIO*/
#inicio {
    padding: 10px 20px;
    background-color: var(--color-primary);
    text-align: center;
}

.contenido-texto {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.imagen-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    object-fit: cover; 
    display: block;
    border-radius: 70px;
    margin: auto;
    margin-top: 30px;    
}

.bloque-cabecera {
    position: absolute;
    top: 60%;
    left: 7%;
    transform: translateY(-50%);
    color: white;
    max-width: 1200px;
}

.titulo-frontal {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.05;
    text-align: start;
    margin-bottom: 35px;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.35);
}
.boton-inicio {
    display: flex;
    justify-self: start;
    background-color: #16A34A;
    color: white;
    padding: 8px 32px;
    font-size: 18px;
    border-radius: 14px;
    text-decoration: none;
    font-weight: 600;
    
}

.boton-inicio:hover {
    background-color: var(--color-nav); 
    transform: scale(1.05); 
}

.seccion-problema {
    padding: 80px 10%;
    background-color: #F1F5F9;          
}


.titulo-problema {
    font-size: 40px;
    margin-bottom: 25px;
    color: #0F172A;
}

.columna-texto {
    flex: 2;               
}

.columna-texto p {
    font-size: 18px;
    line-height: 1.8;
    color: #475569;
    max-width: 800px;
}


/*PUBLICO OBJETIVO*/

.publico_objetivo {
    display: flex;          
    align-items: center;   
    justify-content: space-between;
    padding: 60px;
    gap: 40px;
}
.titulo-publico-objetivo {
    font-size: 3.5rem;
    color: var(--color-text-title);
    font-family: serif;    
    margin: 0;
}

.texto-publico {
    flex: 2;    
}

.texto-publico p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0;
    color: var(--color-nav);
    text-align: justify;
    font-weight: bold ;
}

.imagen-publico {
    flex: 1;                
    display: flex;
    justify-content: center;
}

.imagen-publico img {
    width: 300px;           
    height: 300px;          
    object-fit: cover;      
    border-radius: 50%;     
}


/*MODULO AGENDAMIENTO DE CITA*/
.producto1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    background-color: var(--color-quaternary);
    width: 100%;
}
.tabla1 {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    background-color: white;
}
.tabla1 th {
    background-color: var(--color-secondary);
    color: white;
    padding: 10px;
}
.tabla1 td {
    border: 1px solid var(--color-secondary);
    padding: 10px;
    text-align: center;
}
.tabla1 tr:nth-child(even) {
    background-color: #f5f5f5;
}

.tabla1 tr:hover {
    background-color: var(--color-primary);
    color: var(--color-text);
    cursor: pointer;
}
.formulario1 {
    color: var(--color-text);
    background-color: #ffffff;
    text-align: left;
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: var(--color-secondary) solid 1px;
    max-width: 500px;
    width: 100%;
}
.formulario1 legend {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--color-secondary);
    text-align: center;
}
.formulario1 label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--color-secondary);
    text-align: center;
}
.formulario1 input, .formulario1 select, #motivo {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid var(--color-secondary);
    border-radius: var(--radius);
    transition: 0.3s;
}    
.formulario1 input:focus, 
.formulario1 select:focus, 
#motivo:focus {
    border-color: var(--color-secondary);
    outline: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
#motivo {
    min-height: 100px;
    resize: vertical;
}
.boton-inicio {
    display: block;
    width: 100%;
    text-align: center;
    background-color: var(--color-secondary);
    color: white;
    padding: 12px;
    border-radius: var(--radius);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.boton-inicio:hover {
    background-color: var(--color-quinary);
    transform: scale(1.03);
}
#mensajeConfirmacion:target {
    display: block;
    background-color: #dcfce7;
    padding: 10px;
    border-radius: 8px;
}
.producto2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    background-color: var(--color-primary);
}
.producto3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    background-color: var(--color-quaternary);
}
#mensajeConfirmacion {
    display: none; 
    color: green;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

/*MODULO FARMACIAS*/
#recomendacion{
    padding: 100px 10%;
    background: var(--color-fondo-claro);
}

#recomendacion .beneficios{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-bottom: 70px;
}

#recomendacion .galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

#recomendacion .galeria article{
    min-height: 280px;
}

.etiqueta{
    text-align: center;
    margin-bottom: 20px;
}

.etiqueta span{
    background-color: #22c55e;
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
}

.columna-titulo{
    text-align: center;
}

.titulo-farmacia{
    font-size: 60px;
    color: #0f172a;
    line-height: 1.1;
    margin-bottom: 25px;
}

.columna-texto{
    text-align: center;
    max-width: 750px;
    margin: auto;
    margin-bottom: 40px;
}

.columna-texto p{
    font-size: 20px;
    color: #64748b;
    line-height: 1.7;
}

.buscador-farmacia{
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 15px;
    border-radius: 70px;
    display: flex;
    gap: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    margin-bottom: 60px;
}

.buscador-farmacia input{
    flex: 1;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 17px;
    border-radius: 50px;
}

.buscador-farmacia button{
    border: none;
    background-color: #16a34a;
    color: white;
    padding: 18px 35px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.buscador-farmacia button:hover{
    background-color: #15803d;
}

.beneficios{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 20px;
    margin-bottom: 70px;
}

.beneficio{
    background-color: rgba(255,255,255,0.7);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 25px;
}

.beneficio h4{
    margin-bottom: 15px;
    color: #0f172a;
    font-size: 20px;
}

.beneficio p{
    color: #64748b;
    line-height: 1.6;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
}

.galeria article{
    background-color : var(--color-cards);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.08);
    transition: 0.4s;
    position: relative;
    overflow: hidden;
}

.galeria article:hover{
    transform: translateY(-10px);
}

.icono-card{
    width: 70px;
    height: 70px;
    background-color: #dcfce7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 25px;
}

.galeria article h3{
    font-size: 28px;
    margin-bottom: 20px;
    color: #0f172a;
}

.galeria article p{
    color: #64748b;
    line-height: 1.8;
    margin-bottom: 30px;
}

.galeria article button{
    border: none;
    background-color: #16a34a;
    color: white;
    padding: 14px 25px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.galeria article button:hover{
    background-color: #15803d;
}


/*EQUIPO*/

#equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    background-color: var(--color-primary);
}
.miembros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
#equipo img {
    width:150px;
    height:150px;
    border-radius:50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: var(--spacing-md);
    background-color: var(--color-nav);
    color: var(--color-text-nav);
}
.redes {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 1rem;
}
.redes a {
    font-size: 1.5rem;
    color: var(--color-texto);
    transition: color 0.2s, transform 0.2s;
}
.redes a:hover {
    color: var(--color-quinary);
    transform: translateY(-2px);
}


/*CONFIGURACIÓN PARA DISPOSITIVOS MÓVILES*/
@media (max-width: 768px) {
    /* NAV */
    nav {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .nav-links ul {
        flex-direction: column;
        gap: 10px;
    }

    /* INICIO */
    .bloque-cabecera {
        position: static;
        transform: none;
        text-align: center;
        margin-top: 20px;
    }

    .titulo-frontal {
        font-size: 2rem;
        text-align: center;
    }

    .imagen-fondo {
        height: auto;
        border-radius: 20px;
    }

    /* PUBLICO OBJETIVO */
    .publico_objetivo {
        flex-direction: column;
        text-align: center;
    }
    .imagen-publico img {
        width: 200px;
        height: 200px;
    }
    /* FARMACIAS */
    #recomendacion .beneficios {
        grid-template-columns: 1fr;
    }
    #recomendacion .galeria {
        grid-template-columns: 1fr;
    }
    .buscador-farmacia {
        flex-direction: column;
        border-radius: 20px;
    }
    .buscador-farmacia button {
        width: 100%;
    }
    /* EQUIPO */
    .miembros {
        flex-direction: column;
    }
}